.jej2 {
    justify-content: center;

    align-items: center;
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .jej {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #1e88e5;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .jej:first-child {
    z-index: 2;
  }
  
  .jej:last-child {
    z-index: 1;
    background-color: #1e88e5;
  }
  